/*Чем мы занимаемся*/
.section-title {
  @include font(36px, 700, 1.17);
  text-align: center;
  color: $secondary-text-color;
  margin-top: 0px;
  margin-bottom: 0px;
}
.background-text {
  position: relative;
  text-align: center;
}
.whatawedoing {
  display: flex;
  padding-top: 50px;

  &-title {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    @include font(14px, 700, 1.14);
    letter-spacing: 0.03em;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    color: $primary-white-color;
    width: 370px;
    height: 70px;
    margin: 0;
    background: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
  }
  &-item:not(:last-child) {
    margin-right: 30px;
  }
}
