html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body,
p,
h1,
h2,
h3 {
  margin: 0;
}
body {
  background-color: #ffffff;
  font-family: $primary-font;
  @include font($fs: 14px);
  color: $primary-text-color;
  text-decoration: none;
}
a.link.current {
  color: $accent-color;
}
img {
  display: block;
}
.link {
  text-decoration: none;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: $accent-color;
  }
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}